body, .nav-color {background-color: #4a4846; color: white;}
.welcom, .color-wh, .text-mut {color: white}
a:link {
  color: white;
  text-decoration: none;}
a:visited {color: white;}
a:hover {
  color: SkyBlue;
  background: none;}
.bl-color{color: SkyBlue}
.bl-b-color{background: SkyBlue; color: black}
.thead-tab{box-shadow: inset 0 0 200px 5px SkyBlue; color: black;}
.wt-b-color{background: DimGrey}
.comments table {
  background-color: Grey;}
.comments span {
  color: Gainsboro;
  font-size: 80%;}
.comments div {color: SkyBlue;}
.comments table {background-color: MediumPurple;}